<?xml version='1.0' encoding='utf-8'?>
<widget id="com.on00dev.nodexn" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nodexn</name>
    <description>Conversor e Executor de EXN.</description>
    <author email="on00dev.dev@gmail.com" href="https://github.com/ON00dev">on00dev</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="AndroidWindowSplashScreenShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="android-compileSdkVersion" value="35" />
    <platform name="android">
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="AndroidWindowSplashScreenShowOnlyFirstTime" value="false" />
    </platform>
</widget>
